<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieFlix</title>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='styles/index.css' rel='stylesheet'/>
</head>
<body>
<header>
    <span id="logo">MovieFlix.com</span>
    <span id="caption"> THE WORLD'S LARGEST ENTERTAINMENT SITE </span>
</header>
<nav>
    <span class="fa fa-home icon positionitem" aria-hidden="true"></span>
    <span class="fa fa-file-video-o icon positionitem" aria-hidden="true"></span>
    <span class="menu">Movies</span>
    <i class="fa fa-television icon  positionitem" aria-hidden="true"></i>
    <span class="menu">Tv Series</span>
    <span class="fa fa-user icon usericon" aria-hidden="true"></span>
    <span class="icon usericon menu positionitem">Username</span>
    <span class="fa fa-bell-o icon usericon positionitem" aria-hidden="true"></span>
    <span class=" icon usericon menu"  >Search</span>
    <span class="fa fa-search icon usericon" aria-hidden="true"></span>
</nav>
</body>
</html>